.control-board {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    box-sizing: border-box;
}
label {
    display: block;
    margin-bottom: 10px;
  }


input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    outline: none;
    margin-right: 10px;
  }
  
input[type="radio"]:checked {
background-color: #000000;
}

.algorithms {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}
.algorithms h3{
    top: 0;

}
.algorithms label {
    margin-bottom: 5px;
}

.heuristics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.heuristics label {
    margin-bottom: 5px;
}

.options {
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.options label {
    margin-bottom: 5px;
}

.options button {
    margin-left: 10px;
}

.reset {
    margin: 10px;
    padding: 10px;
    background-color: rgb(186, 30, 30);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.keepWall {
    margin: 10px;
    padding: 10px;
    background-color: rgb(193, 87, 87);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.solve {
    margin: 10px;
    padding: 10px;
    background-color: rgb(0, 146, 24);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

